*{margin: 0;padding: 0;box-sizing: border-box;}

.forlayout{
    width: 100vw;
    border: 1px solid gray;
    color: darkred;
    font-size: 15px;
    display: grid;
    gap: 5px;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3,1fr) 150px;
    
    
}

.item1{
    background-color: rgb(190, 123, 34);
    grid-column: 1/-1;
}
.item2{
    background-color: lightblue;
}
.item3{
    background-color: darkblue;
}
.item4{
    background-color: rgb(69, 28, 182);
}
.item5{
    background-color: darkgray;
    grid-row: 2/4;
    grid-column: 4/5;
}
.item6{
    background-color: yellowgreen;
    grid-column: 1/4;
}
.item7{
    background-color: rgb(21, 146, 32);
    grid-column: 1/-1;
}